html{
  background-color: rgb(46, 38, 94);
}
.container {
  width: 362px;
  height: 308px;
  background-color: rgb(221, 96, 64);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  z-index: 0;
  position: absolute;
  top: -10px;
  display: flex;
  justify-content: center;
}

.container-1 {
  transform: translate(25%, 50%);
}

.clip {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background-color: white;
  width: 402px;
  height: 308px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tri-con {
  transform: rotate(180deg);
}

.triangle1{
top: 8.5rem;
 position: absolute;
  width: 200px;
  height: 200px;
  transform: rotate(320deg) skewX(4deg) scale(1, 0.866);
  background-color: white;
  border-bottom-left-radius: 11%;
  z-index: -2;
}

.triangle{
  position: relative;
  background-color: rgb(221, 96, 64);
  bottom: 20px;
  width: 101px;
  height: 79px;
  border-top-right-radius: 20%;
  transform: rotate(320deg) skewX(4deg) scale(1, 0.866);

}


