html {
  background-color: rgb(46, 38, 94);
}

.container {
  width: 362px;
  height: 308px;
  background-color: rgb(221, 96, 64);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  z-index: 0;
  position: absolute;
  top: -10px;
  display: flex;
  justify-content: center;
}

.threeLine {
  width: 13px;
  top: 10px;
  height: 70px;
  border-radius: 5px;
  position: relative;
  box-shadow: 30px 3px 0 black;
  margin-left: 20px;
}

.threeLine::after {
  width: 13px;
  height: 68px;
  margin-left: -10px;
  border-radius: 5px;
  background-color: black;
  content: '';
  position: absolute;
}

.threeLine::before {
  width: 13px;
  height: 68px;
  margin-left: 70px;
  border-radius: 5px;
  background-color: black;
  content: '';
  position: absolute;
}

.eye .black {
  width: 91px;
  height: 112px;
  background-color: black;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  z-index: 0;
  position: absolute;
  top: 23px;
  display: flex;
  justify-content: center;
  margin-left: 25px;
  transform: rotate(354deg);
}

.eye .black .white-big {
  width: 4rem;
  height: 5rem;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 60% 64% 40% 40%;
  z-index: 0;
  position: absolute;
  top: 2px;
  display: flex;
  justify-content: center;
  transform: rotate(21deg);
  margin-left: -16px;
}

.eye2 .black2 .white-big {
  transform: rotate(342deg);
  margin-left: 16px;
}

.eye2 .black2 .white-small {
  margin-left: 0px !important;
}

.eye .black .white-small {
  width: 14px;
  height: 13px;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 60% 64% 40% 40%;
  z-index: 0;
  position: absolute;
  top: 6rem;
  display: flex;
  justify-content: center;
  margin-left: 29px;
  transform: rotate(354deg);
  margin-left: 16px;
}

.eyes {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 7rem;
}

.eye {
  width: 143px;
  height: 131px;
  margin: 10px;
  background-color: rgb(177, 177, 31);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  z-index: 0;
  box-shadow: inset 5px 3px 0px 5px black;
}

.eye2 {
  box-shadow: inset -5px 2px 0px 5px black;
}

.black2 {
  transform: rotate(3deg) !important;
}

.eyelash {
  top: 9.8rem;
  left: 40px;
  position: absolute;
  width: 22px;
  height: 27px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px black, 3px 7px 0px 0px black;
  transform: rotate(56deg) rotateY(-149deg) rotateZ(87deg);
}

.eyelash.right {
  top: 9.8rem;
  left: 357px;
  position: absolute;
  width: 22px;
  height: 27px;
  border-radius: 50%;
  transform: rotate(38deg);
  box-shadow: 0px 0px 0px 0px black, 3px 7px 0px 0px black;
}

.moon {
  top: 7rem;
  left: 26px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(38deg);
  box-shadow: 0px 0px 0px 0px black, 6px 9px 0px 0px black;
}

.moon2 {
  left: 340px;
}

.clip {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background-color: white;
  width: 402px;
  height: 308px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tri-con {
  transform: rotate(180deg);
}

.triangle1 {
  left: 110px;
  top: 8.5rem;
  position: absolute;
  width: 200px;
  height: 200px;
  transform: rotate(320deg) skewX(4deg) scale(1, 0.866);
  background-color: white;
  border-bottom-left-radius: 11%;
  z-index: -2;
}

.triangle {
  left: -8px;
  position: relative;
  background-color: rgb(221, 96, 64);
  bottom: 20px;
  width: 101px;
  height: 79px;
  border-top-right-radius: 20%;
  transform: rotate(320deg) skewX(4deg) scale(1, 0.866);
}

.nose {
  left: 12.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 60% 64% 40% 40%;
  position: absolute;
  top: 16rem;
  display: flex;
  justify-content: center;
  transform: rotate( 45deg);
  margin-left: -16px;
}

.nose.top {
  left: 13rem;
  width: 1.9rem;
  height: 1.5rem;
  background-color: brown;
  border-radius: 50% 50% 50% 50% / 60% 64% 40% 40%;
  position: absolute;
  top: 15rem;
  display: flex;
  justify-content: center;
  transform: rotate( 0deg);
  margin-left: -16px;
  z-index: 1;
}

.nose.bottom {
  left: 213px;
  width: 1.4rem;
  height: 1.5rem;
  background-color: rgb(119, 51, 51);
  border-radius: 50% 50% 50% 50% / 60% 64% 40% 40%;
  position: absolute;
  top: 16.5rem;
  display: flex;
  justify-content: center;
  transform: rotate( 0deg);
  /* margin-left: -16px; */
  z-index: -1;
}

.nose.right {
  left: 14rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 60% 64% 40% 40%;
  position: absolute;
  top: 16rem;
  display: flex;
  justify-content: center;
  transform: rotate( -45deg);
}