html {
  background-color: rgb(46, 38, 94);
}
.container {
  width: 362px;
  height: 308px;
  background-color: rgb(221, 96, 64);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  z-index: 0;
  position: absolute;
  top: -10px;
  display: flex;
  justify-content: center;
}

.eye .black {
  width: 91px;
  height: 112px;
  background-color: black;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  z-index: 0;
  position: absolute;
  top: 23px;
  display: flex;
  justify-content: center;
  margin-left: 25px;
  transform: rotate(354deg);
}
.eye .black .white-big {
  width: 4rem;
  height: 5rem;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 60% 64% 40% 40%;
  z-index: 0;
  position: absolute;
  top: 2px;
  display: flex;
  justify-content: center;

  transform: rotate(21deg);
  margin-left: -16px;
}
.eye2 .black2 .white-big {
  transform: rotate(342deg);
  margin-left: 16px;
}
.eye2 .black2 .white-small {
  margin-left: 0px !important;
}
.eye .black .white-small {
  width: 14px;
  height: 13px;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 60% 64% 40% 40%;
  z-index: 0;
  position: absolute;
  top: 6rem;
  display: flex;
  justify-content: center;
  margin-left: 29px;
  transform: rotate(354deg);
  margin-left: 16px;
}
.eyes {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 7rem;
}
.eye {
  width: 143px;
  height: 131px;
  margin: 10px;
  background-color: rgb(177, 177, 31);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  z-index: 0;
  box-shadow: inset 5px 3px 0px 5px black;
}

.eye2 {
  box-shadow: inset -5px 2px 0px 5px black;
}
.black2 {
  transform: rotate(3deg) !important;
}

.moon {
  top: 7rem;
  left: 26px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(38deg);
  box-shadow: 0px 0px 0px 0px black, 6px 9px 0px 0px black;
}
.moon2{

  left: 340px;

}
.clip {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background-color: white;
  width: 402px;
  height: 308px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tri-con {
  transform: rotate(180deg);
}

.triangle1 {
  top: 8.5rem;
  position: absolute;
  width: 200px;
  height: 200px;
  transform: rotate(320deg) skewX(4deg) scale(1, 0.866);
  background-color: white;
  border-bottom-left-radius: 11%;
  z-index: -2;
}

.triangle {
  position: relative;
  background-color: rgb(221, 96, 64);
  bottom: 20px;
  width: 101px;
  height: 79px;
  border-top-right-radius: 20%;
  transform: rotate(320deg) skewX(4deg) scale(1, 0.866);
}
